$background_color: #f3ce56;
$card-title_color: #000;

.logo {
  margin-top: 33px;
  width: 300px;
}

.login {
  margin: auto;
  width: 600px;
}

.search-box {
  margin: auto;
  width: 600px;
  background-color: $background_color;

  .card-title {
    font-size: 2em !important;
    line-height: 1.3em;
    text-shadow: none;
    padding-bottom: 10px;
    padding-top: 33px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
    color: $card-title_color;
    font-weight: bold;
  }

  .input-title {
    color: #444;
    text-shadow: none;
  }
}
